<h1>Frase一覧</h1><p>※fraseはイタリア語で文章という意味です</p>
<p><%= notice %></p>

<table>
  <tr>
    <th>Frase</th>
  </tr>

  <% @frasses.each do |frasse| %>
  <tr>
    <td><%= frasse.content %></td>

    <td><%= link_to '詳細',frass_path(frasse.id) %></td>
    <td><%= link_to "編集", edit_frass_path(frasse.id), data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to '削除', frass_path(frasse.id), method: :delete ,data: {confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'new Frase!!', new_frass_path %>