<h1>Frase一覧</h1><p>※fraseはイタリア語で文章という意味です</p>


<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

  <% @frasses.each do |frasse| %>
  <tr>
    <td><%= frasse.title %></td>
    <td><%= frasse.content %></td>

    <td><%= link_to '詳細を確認する',frass_path(frasse.id) %></td>
    <td><%= link_to "ブログを編集する", edit_frass_path(frasse.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくFraseを投稿する', new_frass_path %>