<!DOCTYPE html>
<html>
  <header>
    <h1>Frase</h1>
    <p> 〜つぶやきアプリケーション〜 </p>
  </header>
  <head>
    <title>Frase App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
	<p>Copyright &copy; 2022 shota_suzuki.</p>
  </footer>
</html>
